* {
    font-family: "Radikal";
}

.body {
    /* height: calc(100vh - 90px); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.authCard {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 24px;
  box-shadow: 
  -1px -1px 5px rgba(0, 0, 0, 0.1), 
  1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 16px 12px;
  border-radius: 8px;
}

.authCard, .authCard * {
    -webkit-tap-highlight-color: transparent;
}

.authCard .cardBody {
    max-height: 0px;
    transition: all 1s;
    overflow: hidden;
}

.authCard .cardBody:hover {
    cursor: pointer;
}

.authCard.active .cardBody {
    max-height: 400px;
}


.authCard .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authCard h2 {
    font-size: 1.4rem;
    font-family: "Advent Pro";
    font-weight: 500;
}

.authCard .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.authCard .field .label {
    display: flex;
    flex-direction: column;
}

.authCard .field label {
    font-size: 1.1rem;
    color: var(--green);
    font-weight: 500;
}

.authCard .field .label p {
    white-space: nowrap;
    font-size: 0.9rem;
    color: rgb(87, 86, 86);
}

.authCard .field input {
    border-radius: 8px;
    margin-top: 4px;
    width: 100%;
    outline: 0px;
    border: 1px #8d8d8d solid;
    padding: 8px 8px;
    font-size: 1rem;
}

.authCard .field input:focus {
    border: 1px var(--green) solid;
}

.authCard .field p.toggleShow {
    margin-left: 12px;
    padding: 8px 10px;
    justify-content: center;
    background: var(--green);
    border-radius: 24px;
    user-select: none;  
    -webkit-tap-highlight-color: transparent;
    color: white;
    cursor: pointer;
}

.authCard .field p.toggleShow.active {
    background-color: var(--darkGreen);
}

.authCard .authenticate {
    background: var(--green);
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.authCard .authenticate:hover {
    padding: 12px;
    background: var(--green);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}


.statusMessage {
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 0px;
    transition: all 0.5s;
    background: white;
    overflow: hidden;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.05rem;
    border-radius: 6px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1),
     2px 2px 4px rgba(0, 0, 0, 0.2);
}

.statusMessage p {
    margin-left: 12px;
    margin-right: 12px;
}

.statusMessage.green {
    width: calc(100% - 12px);
    color: var(--green);
}

.statusMessage.red {
    width: calc(100% - 12px);
    color: red;
}
