@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Iceberg&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Righteous&family=Smooch+Sans:wght@100..900&family=Tektur:wght@400..900&display=swap');

@import url(./assets/fonts/radikal/radikal.css);


/* -webkit-tap-highlight-color: transparent; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

:root {
  --green: rgb(0, 141, 119);
  /* --darkGreen: rgb(21, 89, 61); */
  --darkGreen: rgb(31, 99, 71);
  --lightBlack: #393939;
  --gold: #f6bc1c;
  --clay: rgb(204, 85, 51);
  --teal: rgb(0, 153, 153);
  --lightRed: rgb(251, 126, 126);
}

body {
  width: 100%;
}

footer {
  margin-top: 32px;
  margin-bottom: 8px;
  margin: 32px 12px 8px 12px;
}

.appBarContainer {
  position: relative;
  z-index: 5;
  padding-bottom: 90px;
}

.appBar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 6px;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  width: calc(100% - 12px);
  background: white;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.appBar .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.appBar img {
  width: 70px;
  height: fit-content;
}

.appBar .logoName {
  font-size: 1.05rem;
  font-family: "Iceberg";
  white-space: nowrap;
  margin-left: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.appBar .slogan {
  font-size: 0.7rem;
  color: #6f6f6f;
  font-style: italic;
  white-space: nowrap;
  margin-left: 16px;
}

.appBar .openMenu {
  font-size: 1.2rem;
}

.search-bar {
  margin: 16px 12px;
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar input {
  margin-left: 12px;
  border-radius: 6px;
  outline: 0px;
  width: 100%;
  padding: 6px 8px;
  font-size: 1rem;
  border: 2px black solid;
}

.sort-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 12px;
}

.sort-bar .tab {
  padding: 4px 14px;
  border-radius: 16px;
  margin-left: 6px;
  background-color: var(--green);
  color: white;
  font-weight: 600;
}

nav {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 0%;
  overflow: hidden;
  z-index: 10;
  background: var(--darkGreen);
  height: 100dvh;
  transition: all 0.5s ease-in-out;
}

nav.active {
  right: 0px;
  width: 100%;
}

#closeMenu {
  position: absolute;
  left: 6px;
  top: 12px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 32px;
  padding: 50px 0px;
  gap: 6px;
  width: 90%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

nav ul li {
  padding: 12px;
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 6px;
}

nav ul li.active {
  background-color: white;
}

nav ul li .menuItem {
  color: white;
  display: inline-block;
  /* text-transform: uppercase; */
  font-family: "Quicksand";
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
}

nav ul li .subMenu {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 2px;
  max-height: 0px;
  transition: all 0.75s ease-in-out;
  overflow: hidden;
}

nav ul li .subMenu.active {
  max-height: 150px;
}

nav ul li .subMenu a {
  padding: 12px 0px;
  text-decoration: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: white;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 1.1rem;
}

nav ul li .subMenu a.active {
  color: black;
  background: white;
}

nav ul li .subMenuArrow {
  margin-left: 8px;
  color: white;
}

nav ul li.active .menuItem {
  color: var(--darkGreen);
}

@media screen and (min-width: 1024px) {
  .appBar img {
    width: 95px;
  }

  .appBar .logoName {
    font-size: 1.2rem;
  }

  .appBar .slogan {
    font-size: 0.9rem;
    margin-top: 2px;
  }

  #openMenu {
    display: none;
  }

  #closeMenu {
    display: none;
  }

  nav {
    width: 50%;
    position: relative;
    height: 80px;
    border-radius: 8px;
    overflow: visible;
    background: transparent;
  }

  nav ul {
    margin-top: 0px;
    height: 80px;
    top: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background: white;
    padding-right: 6px;
    overflow: visible;
    gap: 6px;
  }

  nav ul li {
    margin: 0px;
    height: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  nav ul li .menuItem {
    padding: 0px 14px;
    color: black;
    font-family: "Comfortaa";
    font-weight: 800;
    font-size: 1rem;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
  }

  nav ul li .menuItem:hover {
    color: var(--clay);
  }

  nav ul li .subMenu {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 4px;
    border-radius: 6px;
    z-index: 10;
    background: white;
    width: 130%;
  }

  nav ul li .subMenu .subMenuItem {
    background: white;
    color: black;
    font-weight: 500;
    font-size: 1rem;
  }

  nav ul li .subMenu .subMenuItem.active {
    background: var(--darkGreen);
    color: white;
    font-weight: 600;
  }

  nav ul li .subMenu .subMenuItem:hover:not(.active) {
    color: var(--clay);
    background: rgba(4, 239, 204, 0.15);
    font-weight: 600;
  }

  nav ul li.active .menuItem {
    color: var(--green);
  }
}

.pageTitleInBlock {
  text-align: center;
  font-family: "Iceberg";
  font-weight: 500;
  margin-top: 40px;
  color: var(--darkGreen);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.loading {
  /* height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .spinner {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  z-index: 5;
  border: 4.5px var(--green) solid;
  border-top: 3.5px transparent solid;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.emptyContainer {
  height: calc(100dvh - 90px);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyContainer .spinner {
  height: 55px;
  width: 55px;
  transform: translateY(-100%);
  border: 4px var(--green) solid;
  border-top: 3px transparent solid;
  animation: emptySpin 1s linear infinite;
  border-radius: 50%;
}

@keyframes emptySpin {
  to {
    transform: translateY(-100%) rotate(360deg);
  }
}


@media screen and (min-width: 1024px) {
  .pageTitleInBlock {
    font-size: 1.5rem;
  }
}