* {
  font-family: "Radikal";
  box-sizing: border-box;
}

.searchSection {
  height: 250px;
  background: var(--darkGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
  margin: 0px 8px;
  border-radius: 8px;
}

.searchSection .title {
  color: white;
  font-family: "Quicksand";
  width: 70%;
  font-weight: 600;
  margin-left: 24px;
  font-size: 1.4rem;
}

.searchBar {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  margin: 16px;
  margin-top: 32px;
  margin-bottom: 0px;
  padding: 10px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  /* border: 2px rgb(0, 180, 190) solid; */
}

.searchBar:focus-within {
  border: 2px var(--darkGreen) solid;
  background-color: white;
  color: black;
}

.searchBar .icon {
  font-size: 1.1rem;
  margin-left: 4px;
}

.searchBar input {
  border: 0px;
  background-color: transparent;
  flex: 1;
  margin: auto 12px;
  font-size: 1.1rem;
}

.searchBar input::placeholder {
  color: antiquewhite;
}

.searchBar input:focus::placeholder {
  color: rgb(95, 95, 95);
}

.searchBar input:focus {
  border: 0;
  outline: none;
  color: black;
}

.searchBar input:not(:focus) {
  color: white;
}

/* 



*/
.searchActions {
  display: flex;
  margin: 10px 16px 6px 16px;
  gap: 12px;
  font-family: "Quicksand";
  font-weight: 500;
}

.searchActions .sort {
  padding: 10px 10px;
  background: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
}

.searchActions .sort select {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: white;
  font-size: 1.025rem;
  font-family: "Quicksand";
  font-weight: 800;
}

.searchActions .search {
  padding: 10px;
  background: var(--clay);
  border-radius: 8px;
  color: white;
  flex: 1;
  font-size: 1.05rem;
  align-items: center;
  text-align: center;
}

.filterCategory {
  margin: 8px;
  width: calc(100% - 16px);
  padding: 12px;
  outline: 0px;
  border: 2px var(--green) solid;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem;
  background: white;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 1024px) {
  .body {
    width: 85%;
    margin: auto;
  }

  .searchSection .title {
    font-size: 1.75rem;
    font-family: "Radikal";
    font-weight: 500;
  }

  .searchBar .icon {
    margin-left: 8px;
    height: 20px;
    width: 20px;
  }

  .searchBar {
    padding: 12px 8px;
  }

  .searchBar input {
    font-size: 1.15rem;
    line-height: 1rem;
    margin: auto 18px;
  }

  .searchActions {
    margin-top: 12px;
  }

  .searchActions .sort {
    display: flex;
    flex-direction: row;
    padding: 14px 10px;
  }

  .searchActions .sort select {
    font-size: 1rem;
    flex-basis: 100%;
    max-width: 600px;
  }

  .searchActions .search {
    padding: 14px;
  }

  .filterCategory {
    font-size: 1.15rem;
    padding: 16px;
    width: 100%;
    margin: 16px 8px;
  }
}
