* {
  font-family: "Radikal";
}

.topBar {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 16px;
}

.topBar .icon {
  font-size: 1.25rem;
}

.topBar p.title {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 24px;
}

h3 {
  font-size: 1.5rem;
  color: var(--green);
  font-weight: 600;
}

.header img {
  width: calc(100% - 12px);
  margin: 0px 6px;
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
  object-position: 100% 75%;
}

.body {
  padding: 12px;
}

.body h2 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 2.3rem;
}

.price {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  background: linear-gradient(rgb(0, 141, 119, 0.8), rgba(0, 0, 0, 0.85));
  color: white;
  padding: 16px 8px;
  border-radius: 6px;
}

.price h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

.price p {
  font-size: 1.3rem;
  font-weight: 500;
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.features ul {
  margin-top: 4px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 18px;
}

/* .features ul li {
  font-size: 1.1rem;
  background: white;
  border: 1.5px var(--green) solid;
  border-radius: 24px;
  padding: 6px 16px;
}
*/

.features ul li {
  display: flex;
  align-items: center;
}

.features ul li img {
  width: 20px;
  height: 16px;
}

.features ul li p {
  margin-left: 6px;
  align-content: center;
  font-family: "Quicksand";
  font-weight: 500;
  display: block;
  font-size: 1.05rem;
}

.gallery {
  margin-top: 32px;
}

.gallery ul {
  margin-top: 8px;
  padding-bottom: 80px;
  display: flex;
  user-select: none;
  flex-direction: column;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 280px;
  user-select: none;
  object-fit: cover;
  border-radius: 4px;
}

.contactTab {
  position: fixed;
  bottom: 4px;
  left: 4px;
  right: 4px;
  display: flex;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  padding: 10px 12px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.2), 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.contactTab p {
  font-size: 1.15rem;
  font-weight: 500;
}

.contactTab p span {
  color: var(--green);
}

.contactTab .whatsappIcon {
  background: white;
  color: var(--green);
  font-size: 2rem;
}
/* 



 */
.viewImage {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.viewImage .topBar {
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.viewImage .topBar p {
    font-weight: 500;
    font-size: 1.15rem;
}

.viewImage .topBar .icons {
    font-size: 1.4rem;
    display: flex;
    gap: 24px;
    color: white;
}

.viewImage .actualImage  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.viewImage .actualImage img {
    width: 100%;
    height: fit-content;  
    object-fit: cover;
    /* object-position: center;  */
}

.actualImage .navigation {
    /* position: absolute; */
    top: 90%;
    /* transform: translateY(-50%); */
    width: 100%;
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
}

.actualImage .navigation > * {
    width: 20px;
    height: 20px;
    padding: 14px 30px;
    font-size: 1rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    /* border-radius: 50%; */
    border-radius: 8px;
}