* {
  font-family: "Radikal";
}

.topBar {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 16px;
}

.topBar .icon {
  font-size: 1.25rem;
}

.topBar p.title {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 24px;
}

h2 {
  font-size: 1.5rem;
  color: var(--green);
  margin: auto;
  font-weight: 600;
  font-family: "Advent Pro";
}

.header img {
  width: calc(100% - 12px);
  margin: 0px 6px;
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
  object-position: 100% 75%;
}

.body {
  padding: 12px;
}

.body h1 {
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 2.15rem;
}

.price {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  /* background: linear-gradient(rgb(0, 141, 119, 0.8), rgba(0, 0, 0, 0.85)); */
  color: black;
  padding: 16px 0px;
  border-radius: 6px;
}

.price h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.price p {
  font-size: 1.3rem;
  font-weight: 500;
}

.price p span {
  color: var(--green);
  font-family: "Advent Pro";
  font-size: 1.4rem;
  font-weight: 500;
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.features ul {
  margin-top: 4px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  row-gap: 5px;
  column-gap: 18px;
}

.features ul li {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  background: white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.features ul li img {
  width: 20px;
  height: 16px;
}

.features ul li p {
  margin-left: 6px;
  align-content: center;
  font-family: "Quicksand";
  font-weight: 500;
  display: block;
  font-size: 1.05rem;
}

.gallery {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery ul {
  margin-top: 8px;
  padding-bottom: 80px;
  display: flex;
  user-select: none;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 280px;
  user-select: none;
  object-fit: cover;
  border-radius: 4px;
}

.contactTab {
  position: fixed;
  bottom: 4px;
  left: 4px;
  right: 4px;
  display: flex;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  z-index: 2;
  padding: 10px 12px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.contactTab p {
  font-size: 1.15rem;
  font-weight: 500;
}

.contactTab p span {
  color: var(--darkGreen);
}

.contactTab .whatsappIcon {
  background: white;
  color: var(--darkGreen);
  font-size: 2rem;
}
/* 



 */
.viewImage {
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.viewImage .topBar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.viewImage .topBar p {
  font-weight: 500;
  font-size: 1.15rem;
}

.viewImage .topBar .icons {
  font-size: 1.4rem;
  display: flex;
  gap: 24px;
  color: white;
}

.viewImage img {
  width: 100vw;
  height: fit-content;
  object-fit: cover;
}

.navigation {
  width: 100%;
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
}

.navigation > * {
  width: 20px;
  height: 20px;
  padding: 14px 30px;
  font-size: 1rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  /* border-radius: 50%; */
  border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header img {
    width: 75%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 25%;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .body h1 {
    margin: 12px auto;
  }

  .price {
    width: 75%;
    margin: auto;
  }

  .features ul {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;
    width: 80%;
    margin: 16px 10% 0px 10%;
    justify-content: space-between;
  }

  .features ul li {
    flex-basis: 49%;
    padding: 14px 12px;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }

  .gallery ul {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10%;
  }

  .gallery img {
    width: 30%;
    height: 350px;
  }

  .viewImage {
    width: 95%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: white;
    border: 2px var(--darkGreen) solid;
    color: black;
  }

  .viewImage .topBar {
    background: var(--darkGreen);
  }

  .viewImage .topBar p {
    color: white;
  }

  .viewImage .topBar .icons {
    color: white;
  }

  .viewImage img {
    width: fit-content;
    height: 85%;
    margin-top: 7.5%;
    border-radius: 6px;
  }

  .viewImage .topBar {
    height: 80px;
    align-items: center;
    padding: 0px 24px;
    /* background-color: aqua; */
  }

  .viewImage .topBar p {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .navigation > * {
    padding: 40px 14px;
    background: white;
    color: black;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 12px;
    cursor: pointer;
  }

  .navigation > *:hover {
    background-color: var(--green);
    color: white;
  }
}
