
:root {
  --green: rgb(0, 141, 119);
  --darkGreen: rgb(21, 61, 20);
  --lightBlack: #393939;
  --gold: #f6bc1c;
}

.noPage {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noPage img {
    width: 70%;
}

.noPage h6 {
    font-size: 1.6rem;
    margin-top: 36px;
}


.noPage p {
  width: 80%;
  margin-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.noPage p a {
    text-decoration: underline;
    color: var(--green);
    font-weight: 600;
}
